In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.csv')

In [3]:
df

,Education,Status,Others,Skin Color,Sex
0,Bachelors,Never-married,Adm-clerical,White,Male
1,Bachelors,Married-civ-spouse,Exec-managerial,White,Male
2,HS-grad,Divorced,Handlers-cleaners,White,Male
3,11th,Married-civ-spouse,Handlers-cleaners,Black,Male
4,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female
...,...,...,...,...,...
32556,Assoc-acdm,Married-civ-spouse,Tech-support,White,Female
32557,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male
32558,HS-grad,Widowed,Adm-clerical,White,Female
32559,HS-grad,Never-married,Adm-clerical,White,Male
32560,HS-grad,Married-civ-spouse,Exec-managerial,White,Female

In [4]:
df.describe()

       Education               Status           Others Skin Color    Sex
count      32561                32561            32561      32561  32561
unique        16                    7               15          5      2
top      HS-grad   Married-civ-spouse   Prof-specialty      White   Male
freq       10501                14976             4140      27816  21790

In [5]:
train_set = df.sample(frac=0.8)
test_set = df.drop(train_set.index)

In [6]:
train_set

,Education,Status,Others,Skin Color,Sex
21584,HS-grad,Married-civ-spouse,Handlers-cleaners,White,Male
21573,Doctorate,Married-civ-spouse,Prof-specialty,White,Male
8718,Bachelors,Never-married,Exec-managerial,White,Male
20254,HS-grad,Widowed,Adm-clerical,Black,Female
23431,Some-college,Never-married,Protective-serv,White,Male
...,...,...,...,...,...
21901,HS-grad,Never-married,Sales,Black,Female
17343,HS-grad,Divorced,Other-service,White,Female
22144,Some-college,Divorced,Adm-clerical,White,Male
17214,Some-college,Married-civ-spouse,Tech-support,White,Male
24506,Some-college,Never-married,Other-service,White,Female

In [7]:
test_set

,Education,Status,Others,Skin Color,Sex
1,Bachelors,Married-civ-spouse,Exec-managerial,White,Male
4,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female
9,Bachelors,Married-civ-spouse,Exec-managerial,White,Male
10,Some-college,Married-civ-spouse,Exec-managerial,Black,Male
17,HS-grad,Never-married,Machine-op-inspct,White,Male
...,...,...,...,...,...
32550,Some-college,Married-civ-spouse,Craft-repair,White,Male
32551,10th,Married-civ-spouse,Handlers-cleaners,Amer-Indian-Eskimo,Male
32555,Some-college,Never-married,Protective-serv,White,Male
32556,Assoc-acdm,Married-civ-spouse,Tech-support,White,Female
32559,HS-grad,Never-married,Adm-clerical,White,Male

sample data

Education                    11th
Status         Married-civ-spouse
Others          Handlers-cleaners
Skin Color                  Black
Sex                          Male

In [8]:
set_education = []
set_status = []
set_others = []
set_skin_color = []

for item, value in train_set.iterrows():
    set_education.append(value["Education"])
    set_status.append(value["Status"])
    set_others.append(value["Others"])
    set_skin_color.append(value["Skin Color"])
    
set_education = set(set_education)
set_status = set(set_status)
set_others = set(set_others)
set_skin_color = set(set_skin_color)

In [9]:
set_education

{' 10th',
 ' 11th',
 ' 12th',
 ' 1st-4th',
 ' 5th-6th',
 ' 7th-8th',
 ' 9th',
 ' Assoc-acdm',
 ' Assoc-voc',
 ' Bachelors',
 ' Doctorate',
 ' HS-grad',
 ' Masters',
 ' Preschool',
 ' Prof-school',
 ' Some-college'}

In [10]:
set_status

{' Divorced',
 ' Married-AF-spouse',
 ' Married-civ-spouse',
 ' Married-spouse-absent',
 ' Never-married',
 ' Separated',
 ' Widowed'}

In [11]:
set_others

{' ?',
 ' Adm-clerical',
 ' Armed-Forces',
 ' Craft-repair',
 ' Exec-managerial',
 ' Farming-fishing',
 ' Handlers-cleaners',
 ' Machine-op-inspct',
 ' Other-service',
 ' Priv-house-serv',
 ' Prof-specialty',
 ' Protective-serv',
 ' Sales',
 ' Tech-support',
 ' Transport-moving'}

In [12]:
set_skin_color

{' Amer-Indian-Eskimo', ' Asian-Pac-Islander', ' Black', ' Other', ' White'}

In [13]:
education_value = [[], []]
status_value = [[], []]
others_value = [[], []]
skin_color_value = [[], []]

In [14]:
for item in set_education:
    education_value[0].append({"key": item, "value":0})
    education_value[1].append({"key": item, "value":0})

In [15]:
for item in set_status:
    status_value[0].append({"key": item, "value":0})
    status_value[1].append({"key": item, "value":0})

In [16]:
for item in set_others:
    others_value[0].append({"key": item, "value":0})
    others_value[1].append({"key": item, "value":0})

In [17]:
for item in set_skin_color:
    skin_color_value[0].append({"key": item, "value":0})
    skin_color_value[1].append({"key": item, "value":0})

In [18]:
for item, value in train_set.iterrows():
    if value["Sex"] == " Male":
        for i in range(len(education_value[0])):
            if education_value[0][i]["key"] == value["Education"]:
                education_value[0][i]["value"]+= 1
                break
        
        for i in range(len(status_value[0])):
            if status_value[0][i]["key"] == value["Status"]:
                status_value[0][i]["value"]+= 1 
                break
        
        for i in range(len(others_value[0])):
            if others_value[0][i]["key"] == value["Others"]:
                others_value[0][i]["value"]+= 1 
                break
            
        for i in range(len(skin_color_value[0])):
            if skin_color_value[0][i]["key"] == value["Skin Color"]:
                skin_color_value[0][i]["value"]+= 1
                break
    else:
        
        for i in range(len(education_value[1])):
            if education_value[1][i]["key"] == value["Education"]:
                education_value[1][i]["value"]+= 1
                break
        
        for i in range(len(status_value[1])):
            if status_value[1][i]["key"] == value["Status"]:
                status_value[1][i]["value"]+= 1 
                break
        
        for i in range(len(others_value[1])):
            if others_value[1][i]["key"] == value["Others"]:
                others_value[1][i]["value"]+= 1 
                break
            
        for i in range(len(skin_color_value[1])):
            if skin_color_value[1][i]["key"] == value["Skin Color"]:
                skin_color_value[1][i]["value"]+= 1
                break

In [19]:
education_value

[[{'key': ' 5th-6th', 'value': 188},
  {'key': ' Masters', 'value': 947},
  {'key': ' 9th', 'value': 300},
  {'key': ' Assoc-voc', 'value': 714},
  {'key': ' Bachelors', 'value': 2975},
  {'key': ' 7th-8th', 'value': 384},
  {'key': ' HS-grad', 'value': 5729},
  {'key': ' 11th', 'value': 584},
  {'key': ' Assoc-acdm', 'value': 522},
  {'key': ' Some-college', 'value': 3587},
  {'key': ' Prof-school', 'value': 394},
  {'key': ' Doctorate', 'value': 252},
  {'key': ' 10th', 'value': 507},
  {'key': ' 1st-4th', 'value': 97},
  {'key': ' 12th', 'value': 231},
  {'key': ' Preschool', 'value': 30}],
 [{'key': ' 5th-6th', 'value': 64},
  {'key': ' Masters', 'value': 425},
  {'key': ' 9th', 'value': 111},
  {'key': ' Assoc-voc', 'value': 398},
  {'key': ' Bachelors', 'value': 1298},
  {'key': ' 7th-8th', 'value': 128},
  {'key': ' HS-grad', 'value': 2710},
  {'key': ' 11th', 'value': 357},
  {'key': ' Assoc-acdm', 'value': 334},
  {'key': ' Some-college', 'value': 2233},
  {'key': ' Prof-school', 'value': 69},
  {'key': ' Doctorate', 'value': 75},
  {'key': ' 10th', 'value': 244},
  {'key': ' 1st-4th', 'value': 36},
  {'key': ' 12th', 'value': 114},
  {'key': ' Preschool', 'value': 12}]]

In [20]:
status_value

[[{'key': ' Divorced', 'value': 1410},
  {'key': ' Never-married', 'value': 4732},
  {'key': ' Married-spouse-absent', 'value': 171},
  {'key': ' Widowed', 'value': 135},
  {'key': ' Married-civ-spouse', 'value': 10677},
  {'key': ' Married-AF-spouse', 'value': 8},
  {'key': ' Separated', 'value': 308}],
 [{'key': ' Divorced', 'value': 2129},
  {'key': ' Never-married', 'value': 3809},
  {'key': ' Married-spouse-absent', 'value': 158},
  {'key': ' Widowed', 'value': 675},
  {'key': ' Married-civ-spouse', 'value': 1334},
  {'key': ' Married-AF-spouse', 'value': 12},
  {'key': ' Separated', 'value': 491}]]

In [21]:
others_value

[[{'key': ' Armed-Forces', 'value': 8},
  {'key': ' Exec-managerial', 'value': 2351},
  {'key': ' Machine-op-inspct', 'value': 1179},
  {'key': ' Transport-moving', 'value': 1212},
  {'key': ' Handlers-cleaners', 'value': 939},
  {'key': ' Farming-fishing', 'value': 744},
  {'key': ' Sales', 'value': 1913},
  {'key': ' Priv-house-serv', 'value': 7},
  {'key': ' Prof-specialty', 'value': 2094},
  {'key': ' Adm-clerical', 'value': 980},
  {'key': ' Craft-repair', 'value': 3085},
  {'key': ' Protective-serv', 'value': 436},
  {'key': ' Tech-support', 'value': 476},
  {'key': ' ?', 'value': 798},
  {'key': ' Other-service', 'value': 1219}],
 [{'key': ' Armed-Forces', 'value': 0},
  {'key': ' Exec-managerial', 'value': 934},
  {'key': ' Machine-op-inspct', 'value': 438},
  {'key': ' Transport-moving', 'value': 73},
  {'key': ' Handlers-cleaners', 'value': 133},
  {'key': ' Farming-fishing', 'value': 50},
  {'key': ' Sales', 'value': 1009},
  {'key': ' Priv-house-serv', 'value': 118},
  {'key': ' Prof-specialty', 'value': 1216},
  {'key': ' Adm-clerical', 'value': 2024},
  {'key': ' Craft-repair', 'value': 178},
  {'key': ' Protective-serv', 'value': 63},
  {'key': ' Tech-support', 'value': 276},
  {'key': ' ?', 'value': 680},
  {'key': ' Other-service', 'value': 1416}]]

In [22]:
skin_color_value

[[{'key': ' Amer-Indian-Eskimo', 'value': 155},
  {'key': ' Other', 'value': 134},
  {'key': ' White', 'value': 15362},
  {'key': ' Black', 'value': 1244},
  {'key': ' Asian-Pac-Islander', 'value': 546}],
 [{'key': ' Amer-Indian-Eskimo', 'value': 98},
  {'key': ' Other', 'value': 90},
  {'key': ' White', 'value': 6920},
  {'key': ' Black', 'value': 1228},
  {'key': ' Asian-Pac-Islander', 'value': 272}]]

In [23]:
all_male = 0
all_female = 0
total = 0
for item, value in train_set.iterrows():
    if value["Sex"] == " Male":
        all_male += 1
    else:
        all_female += 1
    total += 1

In [24]:
true_prediction = 0
false_prediction = 0

for item, value in test_set.iterrows():
    male_probability = 0
    female_probability = 0
    
    education_probability = 0
    status_probability = 0
    others_probability = 0
    skin_color_probability = 0

    for i in range(len(education_value[0])):
         if education_value[0][i]["key"] == value["Education"]:
            education_probability = education_value[0][i]["value"]
            break
        
    for i in range(len(status_value[0])):
        if status_value[0][i]["key"] == value["Status"]:
            status_probability = status_value[0][i]["value"]
            break
    
    if value["Others"] != " ?":
        for i in range(len(others_value[0])):
            if others_value[0][i]["key"] == value["Others"]:
                others_probability = others_value[0][i]["value"]
                break
            
    for i in range(len(skin_color_value[0])):
        if skin_color_value[0][i]["key"] == value["Skin Color"]:
            skin_color_probability = skin_color_value[0][i]["value"]
            break
    
    if value["Others"] != " ?":
        male_probability = (education_probability / all_male) * (status_probability / all_male) * (others_probability / all_male) * (skin_color_probability / all_male)
    else:
        male_probability = (education_probability / all_male) * (status_probability / all_male) * (skin_color_probability / all_male)
    male_probability *= (all_male / total)
    
    education_probability = 0
    status_probability = 0
    others_probability = 0
    skin_color_probability = 0

    for i in range(len(education_value[1])):
         if education_value[1][i]["key"] == value["Education"]:
            education_probability = education_value[1][i]["value"]
            break
        
    for i in range(len(status_value[1])):
        if status_value[1][i]["key"] == value["Status"]:
            status_probability = status_value[1][i]["value"]
            break
    
    if value["Others"] != " ?":
        for i in range(len(others_value[1])):
            if others_value[1][i]["key"] == value["Others"]:
                others_probability = others_value[1][i]["value"]
                break
            
    for i in range(len(skin_color_value[1])):
        if skin_color_value[1][i]["key"] == value["Skin Color"]:
            skin_color_probability = skin_color_value[1][i]["value"]
            break
    
    if value["Others"] != " ?":
        female_probability = (education_probability / all_female) * (status_probability / all_female) * (others_probability / all_female) * (skin_color_probability / all_female)
    else:
        female_probability = (education_probability / all_female) * (status_probability / all_female) * (skin_color_probability / all_female)
    female_probability *= (all_female / total)
    
    label_male = male_probability / (male_probability + female_probability)
    label_female = female_probability / (male_probability + female_probability)
    
    if (label_male >= label_female and value["Sex"] == " Male") or (label_male < label_female and value["Sex"] == " Female") :
        true_prediction+=1
    else:
        false_prediction+=1

In [25]:
print("True prediction : " , true_prediction)
print("False prediction : " , false_prediction)
print("accuracy : ", true_prediction / (true_prediction + false_prediction))

True prediction :  5112
False prediction :  1400
accuracy :  0.785012285012285